<div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>Made with love by <a href="https://github.com/codemodeactivate" target="_blank" style="color: #fff;">Jeff</a>, <a href="https://github.com/cschmidt216" target="_blank" style="color: #fff;">Christopher</a>, and <a href="https://github.com/thejamesdouglas" target="_blank" style="color: #fff;">James</a></p>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 style="color: #fff;">Stay Connected</h5>
                        <form>
                            <div class="mb-3">
                                <label for="emailInput" class="form-label">Email Address</label>
                                <input type="email" class="form-control" id="emailInput" placeholder="Enter your email">
                            </div>
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <h5 style="color: #fff;">Follow Us</h5>
                        <ul class="list-unstyled">
                            <li><a href="#" target="_blank" style="color: #fff;"><i class="fab fa-facebook"></i> Facebook</a></li>
                            <li><a href="#" target="_blank" style="color: #fff;"><i class="fab fa-twitter"></i> Twitter</a></li>
                            <li><a href="#" target="_blank" style="color: #fff;"><i class="fab fa-instagram"></i> Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
