<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A simple blog built with Node.js, Express, Handlebars, and MongoDB.">
        <meta name="keywords" content="node.js,express,handlebars,mongodb,blog">
        <title>Perfect Day Planner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <header>
            <h1>Perfect Day Planner</h1>
            {{{nav}}}
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            {{{footer}}}
        </footer>

    </body>
</html>
