<!--Homepage-->

<div class="video-background">
    <div class="video-wrap">
        <div id="video">
            <video id="bgvid" autoplay loop muted playsinline>
                <source src="/Assets/bgvidbig.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>

<div class="row flex-column-reverse flex-lg-row justify-content-center">
    <!-- Call to Action -->
    <div class="col-lg-6 col-md-12 text-center order-2 order-lg-1">
        <div class="caption text-center justify-content-center">
            <h1>Welcome to Perfect Day Planner!</h1>
            <h3>Create and Share Your Ideal Day</h3>
            <a href="/signup" class="btn btn-primary">Start Planning</a>
        </div>
    </div>

    <!-- TikTok Inspiration -->
    <div class="col-lg-6 col-md-12 text-center order-1 order-lg-2">
        <div class="inspiration-section text-center">
            <h1>Inspiration</h1>
            <div class="embed-responsive embed-responsive-16by9">
                <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@katstickler/video/6872511475399789830" data-video-id="6872511475399789830" data-embed-from="embed_page" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@katstickler" href="https://www.tiktok.com/@katstickler?refer=embed">@katstickler</a> <p>I love this woman so much lol <a title="justforfun" target="_blank" href="https://www.tiktok.com/tag/justforfun?refer=embed">#justforfun</a> <a title="couplegoals" target="_blank" href="https://www.tiktok.com/tag/couplegoals?refer=embed">#couplegoals</a> <a title="coupleschallenge" target="_blank" href="https://www.tiktok.com/tag/coupleschallenge?refer=embed">#coupleschallenge</a> <a title="4u" target="_blank" href="https://www.tiktok.com/tag/4u?refer=embed">#4u</a> <a title="momsoftiktok" target="_blank" href="https://www.tiktok.com/tag/momsoftiktok?refer=embed">#momsoftiktok</a> <a title="wifeprank" target="_blank" href="https://www.tiktok.com/tag/wifeprank?refer=embed">#wifeprank</a></p> <a target="_blank" title="♬ original sound - Kat" href="https://www.tiktok.com/music/original-sound-6872511430021679878?refer=embed">♬ original sound - Kat</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8 text-left how-it-works px-3 px-lg-0">
        <h1>How It Works</h1>
        <p><i class="fas fa-user"></i> 1. Sign up and create your 'perfect day' with a title and description.</p>
        <p><i class="fas fa-tasks"></i> 2. Add as many option sets as you'd like. Each option set consists of a pair of activities.</p>
        <p><i class="fas fa-paper-plane"></i> 3. Send a personalized link to your recipient who will choose one activity from each pair.</p>
        <p><i class="fas fa-heart"></i> 4. Both parties will then know what their 'perfect day' consists of.</p>
    </div>
</div>

<div class="testimonial-section d-flex justify-content-center px-3 px-lg-0">
    <div class="testimonial text-center">
        <h2>Testimonials</h2>
        <div class="testimonial-content">
            <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit..."</p>
        </div>
        <div class="testimonial-author">
            <img src="/Assets/img/elle-woods.webp" alt="Elle Woods">
            <p>- Elle Woods</p>
        </div>
    </div>
</div>
    <!-- more testimonials -->
</div>
