<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h1 class="text-center">Welcome to Perfect Day Planner!</h1>
    <div class="d-flex justify-content-center">
        <nav class="navbar mt-2">
        {{#if logged_in}}
            <a href="/dashboard" class="btn btn-primary mx-5">Dashboard</a>
            <a href="/logout" class="btn btn-primary mx-5">Logout</a>
        {{else}}
            <a href="/signup" class="btn btn-primary mx-5">Sign Up</a>
            <a href="/login" class="btn btn-primary mx-5">Login</a>
        {{/if}}
        </nav>
    </div>
    <div class="container mt-5">
        <h2>About</h2>
        <p>placeholder</p>
    </div>
</div>
</body>
</html>