<div class="video-background">
	<div class="video-wrap">
		<div id="video">
			<video id="bgvid" autoplay loop muted playsinline>
				<source src="/Assets/bgvidbig.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>

<div class="caption text-center justify-content-center">
	<h1>Welcome to Perfect Day Planner!</h1>
	<h3>placeholder</h3>
</div>


<div class="row justify-content-center">
	<div class="col-md-8 text-center">
		<h1>About</h1>
		<p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet neque sed imperdiet pharetra. Aliquam malesuada ante sit amet lectus scelerisque, eu imperdiet neque viverra. Morbi finibus metus ligula, vitae sollicitudin orci tempus vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id placerat odio. Cras hendrerit odio ligula, at ultricies lectus tristique at. Etiam ut justo commodo, malesuada neque nec, vulputate nibh.
        </p>
	</div>
</div>
