 <div class="video-background">
	<div class="video-wrap">
		<div id="video">
			<video id="bgvid" autoplay loop muted playsinline>
				<source src="/Assets/bgvidsmall.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>
 <div class="caption-login row justify-content-center align-items-center" style="height: 80vh;">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <form class="login-form g-3" method="POST" action="/login">
                        <div class="text-center mb-4">
                            <h2>Login</h2>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" placeholder="Email Address" name="email" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Password" name="password" required>
                        </div>
                        <div id="error-message" class="text-danger mb-3"></div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        {{!-- <div class="text-center mt-3">
                            <a href="/forgot-password">Forgot your password?</a>
                        </div> --}}
                    </form>
                </div>
            </div>
        </div>
    </div>

   <script src="/scripts/loginhandler.js"></script>
